<div id="contactMeSection" class="footerClass">
    <footer class="footerSection">
        <h2 class="footerContactMe">Contact Me :-</h2>
        <a class="fontawesomelink" href="https://www.facebook.com/"><i class=" fontawesomeicon fab fa-facebook-square fa-2x"></i></a>
        <a class="fontawesomelink" href="https://www.instagram.com/"><i class=" fontawesomeicon fab fa-twitter fa-2x"></i></a>
        <a class="fontawesomelink" href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class=" fontawesomeicon fas fa-envelope fa-2x"></i></a>
        <a class="fontawesomelink" href="https://www.instagram.com/"><i class=" fontawesomeicon fab fa-instagram fa-2x"></i></a>
        <p class="phoneNumber">Phone No:- 9319054970</p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="index.js"></script>

</div>


</body>

</html>