<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Particular Blog Webpage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="icon" href="./public/images/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Volkhov&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cookie&family=Just+Another+Hand&family=Pacifico&family=Playfair+Display+SC:ital,wght@0,900;1,900&family=Sacramento&family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/640bd853df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/particularBlog.css">
</head>

<body>
    <nav class="navbar   navbar-expand-lg navbar-light bg-dark">
        <img class="StrengthImageClass" src="./public/images/Strength.jpg" alt="Strength" srcset="">
        <button class=" togglerClass navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span  class=" mr-sm-1 navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="topicClass navbar-nav mr-auto">

                <li class=" nav-item active">
                    <a style="color:white" class="   nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class=" nav-item">
                    <a style="color:white" class="  nav-link" href="contactme.html">Contact Me</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="  nav-link" href="About.html">About</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="  nav-link" href="catergories.html">Catergories</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="  nav-link" href="createBlog.html">Create Blog</a>
                </li>
            </ul>
            <form method="POST" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for blogs" aria-label="Search">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form method="POST" class="form-inline my-2 my-lg-0">
                <button class=" logoutClass btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
            </form>


        </div>

    </nav>

    <img class="headingClass" src="./public/images/manan.jpg" alt="">

    <div>
        <div class="container mt-5">
            <div>
                <h1 class="headingClassForParticularBlog container">From Top to Bottom</h1>
            </div>
            <div>
                <h4 class=" catergoryheadingclass container mr-sm-auto mr-md-auto mr-lg-auto ml-auto ">ADVENTURE</h4>
            </div>
        </div>
        <hr>
        <div class="container row mb-5 ml-auto mr-lg-auto mr-md-auto mr-sm-5 ">


            <p class="blogParagraph container mt mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit justo feugiat posuere gravida. Donec porta faucibus risus, a congue urna accumsan nec. Duis faucibus odio tristique efficitur aliquam. Nulla vehicula dolor id feugiat
                venenatis. Donec augue ex, fringilla a quam a, tincidunt lacinia augue. Morbi id diam sit amet nisi dignissim porttitor. Nulla nec tristique diam. Duis in interdum urna. Nulla dignissim quam porttitor velit laoreet condimentum.
            </p>
        </div>
    </div>

    <div class="endingClass">
        <div class="endingClasstext">
            <h1 class="endingClassElement">Stay in Touch</h1>
            <hr class="endingClassRow">
        </div>

    </div>

</body>

</html>