<%-include('partials/header')-%>
    <form action="/successfulPage" method="get">
        <div class="jumbotron ">
            <h1 class="display-4">Your Blog Has Been Submitted Successfully.</h1>
            <p class="lead">Here By to inform you that you blog has been Submitted Successfully. Now go back to the home page and check your blog !.</p>
            <hr class="my-4">
            <button class="btn btn-primary btn-lg" type="submit" role="button">Home Page</a>
    </div>
    </body>
</form>